*{
  padding: 0px;
  margin: 0px;
}

#title{
  width: 100%;
  height: 100px;
  background-color: #0f1219;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

#results{
  position: absolute;
  left: 0px;
  top: 0px;
  height: 60px;
  color: darkgrey;
  font: 60px 'Open Sans', sans-serif;
  margin: 20px;
  -webkit-app-region: no-drag;
  -webkit-user-select: text;
  opacity: 1;
}

::selection {
    background-color: white;
    color: grey;
    -webkit-border-radius: 6px;
}

div:focus {
    outline:none;
}
