*{
  padding: 0px;
  margin: 0px;
}

body{
  height: 100vh;
}

#title{
  width: 100%;
  height: 100px;
  background-color: #0f1219;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

#results{
  position: absolute;
  left: 0px;
  top: 0px;
  height: 60px;
  color: darkgrey;
  font: 60px 'Open Sans', sans-serif;
  margin: 20px;
  -webkit-app-region: no-drag;
  -webkit-user-select: text;
  opacity: 1;
}

::selection {
    background-color: white;
    color: grey;
    -webkit-border-radius: 6px;
}

div:focus {
    outline: none;
}

.container{
  height: calc(100% - 100px);
  width: 100%;
  -webkit-user-select: none;
}

.row{
  float: left;
  width: 100%;
  height: 25%;
}

.button{
  cursor: pointer;
  font: 30px 'Open Sans', sans-serif;
  align-content: center;
  line-height: 120px;
  text-align: center;
  width: calc(33.33% - 1px);
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  height: 100%;
  float: left;
}
.button:last-child{
  cursor: pointer;
  font: 30px 'Open Sans', sans-serif;
  align-content: center;
  line-height: 120px;
  text-align: center;
  width: calc(33.33% - 1px);
  border-right: 0px;
  height: 100%;
  float: left;
}

.row:nth-child(4) > .button{
  border-bottom: 0px;
}

.button-enter{
  cursor: pointer;
  font: 30px 'Open Sans', sans-serif;
  align-content: center;
  line-height: 120px;
  text-align: center;
  width: 66.66%;
  height: 100%;
  float: left;
}

div::-webkit-input-placeholder {
    color: green;
    text-shadow: none;
    -webkit-text-fill-color: initial;
}
